<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->
<div class="container">
  <div class="low">
    <h2>プロフィール</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_messages! %>

     <div class="form-inputs">
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <!-- 名前入力用のフィールドを追加 -->
        <div class="field">
          <%= f.label :名前 %><br />
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <% if @user.provider.blank? %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="field">
            <%= f.label :password %> <i>(パスワードを変更する場合は入力してください。)</i><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
          <div class="field">
             <%= profile_img(@user) if profile_img(@user) %>
             <%= f.file_field :avatar %>
             <%= f.hidden_field :avatar_cache %>
          </div>
          <br>
          <div class="field">
            <%= f.label :current_password %> <i>(変更する場合は入力してください。)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
          </div>
        <% end %>
     </div>

     <div class="form-actions">
        <%= f.button :submit, "更新" %>　<%= link_to "キャンセル", products_url %>
     </div>
    <% end %>
    <br>
    <p> <%= link_to "アカウントの削除", registration_path(resource_name), data: { confirm: "本当によろしいですか?" }, method: :delete %></p>
  </div>
</div>
