<%= form_for(@product) do |f| %>

 <%= f.error_messages! %>

  <div class=field>
    <%= f.label :form_image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
