
<!--
<p id="notice"><%= notice %><%= alert %></p>
私は <%= current_user.id %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>product.user_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product.each do |product| %>

      <tr>
        <td><%= product.name %></td>
        <td><%= product.image %></td>
        <td><%= product.user_id %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>
-->
<div class=btn01>
  <%= link_to '画像の投稿', {:controller => "products", :action => "new"} , class: "btn btn-default btn-lg" %>
</div>

<% @product.each do |product| %>
<div class=main>
  <div class=content>
    <div class=content-top>
      <%= User.find(product.user_id).name %>
      <p class="text-right"><%= product.created_at.to_s(:published_on) %></p>
    </div>

    <% if product.user_id == current_user.id then %>
      <%= link_to image_tag(product.image_url(:thumb).to_s), product %>
        <div class=content-button>
          <%= link_to '編集', edit_product_path(product), class: "btn btn-default btn-sm" %>
          <%= link_to '削除', product, method: :delete, data: { confirm: '本当に削除してよろしいですか?' }, class: "btn btn-danger btn-sm" %>
        </div>
    <% else %>
        <%= link_to image_tag(product.image_url(:thumb).to_s), product %>
  <% end %>
  </div>
</div>
<% end %>



<!--
<table>
<% @product.each do |product| %>
 <% if product.user_id == current_user.id then %>
    <tr>
       <td><%= link_to image_tag(product.image_url(:thumb).to_s), product %></td>
    </tr>
    <tr>
      <td><%= User.find(product.user_id).name %>|<%= link_to 'Edit', edit_product_path(product) %>|<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% else %>
    <tr>
       <td><%= image_tag(product.image_url(:thumb).to_s) %></td>

    </tr>
    <tr>
      <td><%= User.find(product.user_id).name %></td>
    </tr>
  <% end %>
<% end %>
</table>
-->
<% @imageurl %>
<br>
