<!DOCTYPE html>
<html>
<head>
  <title>動画共有</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if user_signed_in? %>
    <!-- 1.ナビゲーションバーの設定 -->
    <nav class="navbar navbar-default">
      <div class="container">
          <!-- 2.ヘッダ情報 -->
          <div class="navbar-header">
            <%= link_to image_tag('logo.png', { :height => 50,:alt => 'ロゴ', :class=>'logo-nav'}), products_url %>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
              <span class="sr-only">メニュー</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- 3.リストの配置 -->
        <div id="gnavi" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
             <li><%= link_to 'プロフィール', edit_user_registration_path %></li>
             <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </nav>
    <% end %>
      <p class="flash"><%= notice %><%= alert %></p>
  </header>

  <%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        © 2017 写真共有
      </div>
    </div>
  </footer>

</body>
</html>
