<!DOCTYPE html>
<html>
<head>
  <title>どうがきょうゆう</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if user_signed_in? %>
      <img class="logo" src="<%= asset_path "logo.png" %>">
      <table class="menu">
        <tbody>
            <tr>
              <td><%= image_tag("compass.png", {:size => "32x32", :alt => 'compass'}) %></td>
              <td><%= image_tag("heart.png", {:size => "32x32", :alt => 'heart'}) %></td>
              <td><%= link_to image_tag('profile.png', {:size => "32x32", :alt => 'プロファイル'}), edit_user_registration_path %></td>
              <td><%= link_to image_tag('logout.png', {:size => "32x32", :alt => 'ログアウト'}), destroy_user_session_path, method: :delete %></td>
            </tr>
          </tbody>
        </table>
    <% else %>
    <h1>動画共有さいと</h1>
    <% end %>
  </header>

  <%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">INSTAGRAMについて サポート ブログ プレス API</div>
        <div class="col-sm-8">求人 プライバシー 利用 規約 言語</div>
        <div class="col-sm-4">© 2017 INSTAGRAM</div>
      </div>
    </div>
  </footer>

</body>
</html>
