<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div>
      <img class="logo" src="<%= asset_path "logo.png" %>">
      <img class="menu" src="<%= asset_path "profile.png" %>">
      <img class="menu" src="<%= asset_path "heart.png" %>">
      <img class="menu" src="<%= asset_path "compass.png" %>">
    </div>
  </header>

  <%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">INSTAGRAMについて サポート ブログ プレス API</div>
        <div class="col-sm-8">求人 プライバシー 利用 規約 言語</div>
        <div class="col-sm-4">© 2017 INSTAGRAM</div>
      </div>
    </div>
  </footer>

</body>
</html>
