<!DOCTYPE html>
<html>
<head>
  <title>動画共有</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if user_signed_in? %>
      <%= link_to image_tag('logo.png', { :height => 64,:alt => 'ロゴ'}),  products_url %>
      <table class="menu">
        <tbody>
            <tr>
              <td><%= image_tag("compass.png", {:size => "32x32", :alt => 'compass'}) %></td>
              <td><%= image_tag("heart.png", {:size => "32x32", :alt => 'heart'}) %></td>
              <td><%= link_to image_tag('profile.png', {:size => "32x32", :alt => 'プロファイル'}), edit_user_registration_path %></td>
              <td><%= link_to image_tag('logout.png', {:size => "32x32", :alt => 'ログアウト'}), destroy_user_session_path, method: :delete %></td>
            </tr>
          </tbody>
        </table>
    <% end %>
    <section>
      <p class="flash"><%= notice %><%= alert %></p>
    </section>
  </header>

  <%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        © 2017 写真共有
      </div>
    </div>
  </footer>

</body>
</html>
